<div class="container title-color">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Edit Event</h1>
            <hr>
            <form action="/events/edit-event/{{id}}" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="eventname" class="form-label">Event Name</label>
                    <input type="text" class="form-control" id="eventname" name="eventname" value="{{event.eventname}}">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="description" name="description"
                        value="{{event.description}}">
                </div>
                <div class="mb-3">
                    <label for="date" class="form-label">Date</label>
                    <input type="date" placeholder="dd-mm-yyyy" min="1900-01-01" max="2030-12-31" id="date" name="date"
                        value="{{event.date}}">
                </div>
                <div class="mb-3">
                    <label for="participants" class="form-label">Participants</label>
                    <input type="number" class="form-control" id="participants" name="participants"
                        value="{{event.participants}}">
                </div>
                <div class="mb-3">
                    <label for="imageUrl" class="form-label">Event Image</label>
                    <input type="file" class="form-control" id="imageUrl" name="imageUrl">
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-dark">Edit Event</button>
                </div>

                <input type="hidden" value="{{id}}" name="event_id">
            </form>
        </div>
    </div>
</div>