<div class="row row-cols-3 justify-content-center">
    {{#each events}}
    <div class="col my-3">
        <div class="card card-gray" style="width: 18rem;">
            <img src="{{imageUrl}}" class="card-img-top" alt="..."
                style="object-fit: contain; width: 100%; height: 200px;">
            <div class="card-body">
                <h5 class="card-title">{{eventname}}</h5>
                <p class="card-text">Description: {{description}}</p>
                <p class="card-text">Date: {{date}}</p>
                <p class="card-text">Max participants: {{participants}}</p>
                <input type="hidden" value="{{id}}" name="event_id">
                <div class="container d-flex justify-content-center">
                    <form action="/">
                        <button type="submit" class="btn btn-dark btn m-3">Join</button>
                    </form>
                    {{#if ../isTrainer}}
                    <form action="/events/edit-event/{{id}}">
                        <button type="submit" class="btn btn-dark btn-outline-warning btn m-3">Edit</button>
                    </form>

                    <form action="/events/delete/{{id}}" method="POST">
                        <input type="submit" value="Delete" class="btn btn-dark btn-outline-danger btn m-3">
                    </form>
                    {{/if}}
                    {{#if ../isAdmin}}
                    <form action="/events/edit-event/{{id}}">
                        <button type="submit" class="btn btn-dark btn-outline-warning btn m-3">Edit</button>
                    </form>

                    <form action="/events/delete/{{id}}" method="POST">
                        <input type="submit" value="Delete" class="btn btn-dark btn-outline-danger btn m-3">
                    </form>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>