<div class="row row-cols-1 mt-5">
    {{#each workdays}}
    <p class="title-color mt-3">{{name}}</p>
    <div class="col mt-3">
        <div class="card h-100">
            <div class="card-body">
                <form action="/clients/submit-exercise/{{../routine._id}}/{{name}}" method="post">
                    <label for="exercise-select">Selecciona un ejercicio:</label>
                    <select id="exercise-select" name="exercise">
                        {{#each ../infoExercises}}
                        <option value="{{exerciseName}}">{{exerciseName}}</option>
                        {{/each}}
                    </select>
                    <button type="submit">Seleccionar</button>
                </form>
                <div>
                    <h4>Ejercicios</h4>
                    {{#each dailyRoutine}}
                    {{#each this.exercises}}
                    <h1>{{this}}</h1>
                    {{/each}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>