<div class="container title-color">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Registro</h1>
            <hr>
            <form action="/user/edit-profile" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" value="{{username}}">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email" name="email" value="{{email}}">
                </div>
                <div class="mb-3">
                    <label for="userPassword" class="form-label">Password</label>
                    <input type="text" class="form-control" id="userPassword" name="userPassword">
                </div>
                <div class="mb-3">
                    <label for="age" class="form-label">Age</label>
                    <input type="number" class="form-control" id="age" name="age" value="{{age}}">
                </div>
                <div class="mb-3">
                    <label for="height" class="form-label">Height</label>
                    <input type="text" class="form-control" id="height" name="height" value="{{height}}">
                </div>
                <div class="mb-3">
                    <label for="weight" class="form-label">Weight</label>
                    <input type="text" class="form-control" id="weight" name="weight" value="{{weight}}">
                </div>
                <div class="mb-3">
                    <label for="injuries" class="form-label">Injuries</label>
                    <input type="text" class="form-control" id="injuries" name="injuries" value="{{injuries}}">
                </div>
                <div class="border border-success rounded">
                    <div class="row row-cols-7 m-2">
                        <p>Days you want to work</p>
                        <div class="col form-check">
                            <input class="form-check-input" type="checkbox" value="MONDAY" name="monday">
                            <label class="form-check-label" for="monday">
                                Monday
                            </label>
                        </div>
                        <div class="col form-check">
                            <input class="form-check-input" type="checkbox" value="TUESDAY" name="tuesday">
                            <label class="form-check-label" for="tuesday">
                                Tuesday
                            </label>
                        </div>
                        <div class="col form-check">
                            <input class="form-check-input" type="checkbox" value="WEDNESDAY" name="wednesday">
                            <label class="form-check-label" for="wednesday">
                                Wednesday
                            </label>
                        </div>
                        <div class="col form-check">
                            <input class="form-check-input" type="checkbox" value="THURSDAY" name="thursday">
                            <label class="form-check-label" for="thursday">
                                Thursday
                            </label>
                        </div>
                        <div class="col form-check">
                            <input class="form-check-input" type="checkbox" value="FRIDAY" name="friday">
                            <label class="form-check-label" for="friday">
                                Friday
                            </label>
                        </div>
                        <div class="col form-check">
                            <input class="form-check-input" type="checkbox" value="SATURDAY" name="saturday">
                            <label class="form-check-label" for="saturday">
                                Saturday
                            </label>
                        </div>
                        <div class="col form-check">
                            <input class="form-check-input" type="checkbox" value="SUNDAY" name="sunday">
                            <label class="form-check-label" for="sunday">
                                Sunday
                            </label>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="imageUrl" class="form-label">Profile Image</label>
                    <input type="file" class="form-control" id="imageUrl" name="imageUrl" value="{{imageUrl}}">
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-dark">Edit</button>
                </div>
                <input type="hidden" value="{{id}}" name="current_Id">
            </form>
        </div>
    </div>
</div>