<div class="container mt-5">
    <div class="card" style="width: 18rem;">
        <img src="{{user.imageUrl}}" class="card-img-top" alt="{{user.username}} image">
        <div class="card-body">
            <h5 class="card-title">{{user.username}}</h5>
            <p class="card-text">{{user.email}}</p>
            <p class="card-text">{{user.age}}</p>
            <p class="card-text">{{user.height}}</p>
            <p class="card-text">{{user.weight}}</p>
            <p class="card-text">{{user.injuries}}</p>
            <p class="card-text">Your Role is: {{user.role}}</p>
            <a href="#" class="btn btn-primary">Your Routines</a>
            <form action="/user/edit-profile/{{user.id}}"><button type="submit">Edit</button></form>

            <form action="/user/delete/{{user.id}}" method="POST">
                <input type="submit" value="Delete" class="btn btn-danger btn m-3">
            </form>

            <input type="hidden" value="{{id}}" name="current_Id">
        </div>
    </div>


    {{#if isTrainer}}

    <a href="/clients/{{user.id}}" class="btn btn-primary">See clients</a>
    <a href="/clients/applications/{{user.id}}">Applications</a>

    {{/if}}

    {{#if isClient}}

    <a href="/user/trainer-list" class="btn btn-primary">See trainers</a>

    {{/if}}



</div>