<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-sm-6 col-md-4">
            <div class="card card-custom card-gray">
                <img src="{{user.imageUrl}}" class="card-img-top rounded-circle" alt="{{user.username}} image"
                    style="object-fit: contain; width: 100%; height: 200px;">
                <div class="card-body text-center">
                    <h5 class="card-title">{{user.username}}</h5>
                    <p class="card-text">{{user.email}}</p>
                    <p class="card-text">Age: {{user.age}}</p>
                    <p class="card-text">Height: {{user.height}}</p>
                    <p class="card-text">Weight: {{user.weight}}</p>
                    <p class="card-text">Injuries: {{user.injuries}}</p>
                    <p class="card-text">Your Role is: {{user.role}}</p>
                    <div class="d-flex justify-content-around">
                        <form action="/user/edit-profile/{{user.id}}">
                            <button type="submit" class="btn btn-dark btn-outline-warning">Edit</button>
                        </form>
                        <form action="/user/delete/{{user.id}}" method="POST">
                            <input type="submit" value="Delete" class="btn btn-dark btn-outline-danger">
                        </form>
                    </div>
                </div>
                {{#if isTrainer}}
                <div class="card-footer">
                    <div class="d-flex justify-content-around">
                        <a href="/clients/{{user.id}}" class="btn btn-dark">See clients</a>
                        <a href="/events/create-event" class="btn btn-dark">Create New Event</a>
                    </div>
                    <ul class="list-unstyled mt-3">
                        {{#each applications}}
                        <li class="d-flex justify-content-between">
                            {{username}}
                            <form action="/clients/accept-client/{{user.id}}" method="POST">
                                <button type="submit" class="btn btn-primary">Accept</button>
                            </form>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}
                {{#if isClient}}
                <div class="card-footer d-flex justify-content-around">
                    <a href="/user/routine-list/{{user.id}}" class="btn btn-dark">See my routines</a>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>